.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7fafc;
}

.flex-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
  .stack-container {
    margin: auto;
    max-width: 36rem;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0570eb4d;
  }
  
  .heading-container {
    text-align: center;

  }
  
  .heading-title {
    font-size: 2.25rem;
  }
  
  .heading-subtitle {
    font-size: 1.125rem;
    color:#1E88E5;
  }
  
  .highlight-text {
    color: #42A5F5;
  }
  
  .box-container {
    border-radius: 0.375rem;
    width: 150%;
    background-color: white; 
    box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 350px;
  }
  
  .form-stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-label {
    font-size: 0.875rem; 
    font-weight: bold;
    position: relative;
    right: -7%;
  }
  
  .input-field {
    padding: 0.75rem;
    border: 1px solid #080808;
    border-radius: 0.375rem;
    max-width: 330px;
    width: 100%;
  }
  
  .input-field:focus {
    border-color: #3182ce; 
  }
  
  .button-stack {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .checkbox-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .checkbox{
    position: relative;
    right: -7%;
  }
  
  .forgot-password {
    color: #42A5F5;
    cursor: pointer;
    position: relative;
    right: -32%  ;
    }

    .create-account {
      color: #42A5F5;
      cursor: pointer;
      position: relative;
      right: -25%  ;
      }
  
  .sign-in-button {
    background-color:#42A5F5;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none;
    width: 70%;
    position: relative;
    right: -14%;
    transition: all 1s ease;
  }
  
  .sign-in-button:hover {
    color: black;
    background-color: white;
  }
  